@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(74, 91, 105), rgb(71, 93, 102),rgb(113, 117, 161));
}
h2{
    color: whitesmoke;
    margin-bottom: 4%;
    font-size: 34px;
}
.fundo{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    background-color: transparent;
    border: 2px solid #999;
    border-radius: 5px 40px 5px 40px;
    padding: 5%;
}
.inserir{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inserir input{
    width: 80%;
    height: 65%;
    padding: 3%;
    font-size: 22px;
    border-radius: 10px;
    border: 0 none;
    outline: 0;
}
#divqr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    margin-top: 8%;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 3px 2px 2px 3px rgb(63, 64, 66);
    opacity: 0;
    transition: 0.4s ease;
}
#qrimage{
    width: 170px;
    height: 170px;
    border-radius: 4px;
    outline: 0;
    text-decoration: none;
    transition: 0.7s ease;
    opacity: 0;
}
@media(max-width: 770px) {
  h2{
    font-size: 19px;
  }
  .inserir input {
    width: 230px;
    height: 60%;
    font-size: 16px;
    padding: 5%;
  }
  #divqr{
    width: 120px;
    height: 120px;
    margin-top: 10%;
  }
  
  #qrimage{
    width: 120px;
    height: 120px;
  }
}
